.homeService-container {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--customBg1);
}
.homeService-heading {
  text-align: start;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.homeService-heading > h2 {
  font-size: 50px;
  font-weight: 400;
  color: white;
}
.homeServiceMain-container {
  /* border: solid brown; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeServiceMain-content {
  /* border: solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 600px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.homeServiceMain-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 600ms ease;
}
.carousel-control-prev-icon {
  display: none;
}
.carousel-control-next-icon {
  display: none;
}
.homeServiceMain-item {
  /* border: solid; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.689);
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 600ms ease;
}
.homeServiceMain-textContainer {
  border: 2px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: 600ms ease;
}

.homeServiceMain-textContainer > h3 > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
}
.homeServiceMain-content:hover .homeServiceMain-item {
  background-color: transparent;
}
.homeServiceMain-content:hover img {
  transform: scale(1.2);
}
.homeServiceMain-content:hover .homeServiceMain-textContainer {
  border: 2px solid white;
}
